<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>zero</key>
	<string>zero.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>C</key>
	<string>c_.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>A</key>
	<string>a_.glif</string>
	<key>B</key>
	<string>b_.glif</string>
	<key>D</key>
	<string>d_.glif</string>
	<key>G</key>
	<string>g_.glif</string>
	<key>F</key>
	<string>f_.glif</string>
	<key>H</key>
	<string>h_.glif</string>
	<key>I</key>
	<string>i_.glif</string>
	<key>E</key>
	<string>e_.glif</string>
	<key>O</key>
	<string>o_.glif</string>
	<key>J</key>
	<string>j_.glif</string>
	<key>K</key>
	<string>k_.glif</string>
	<key>L</key>
	<string>l_.glif</string>
	<key>M</key>
	<string>m_.glif</string>
	<key>N</key>
	<string>n_.glif</string>
	<key>T</key>
	<string>t_.glif</string>
	<key>P</key>
	<string>p_.glif</string>
	<key>Q</key>
	<string>q_.glif</string>
	<key>R</key>
	<string>r_.glif</string>
	<key>S</key>
	<string>s_.glif</string>
	<key>V</key>
	<string>v_.glif</string>
	<key>W</key>
	<string>w_.glif</string>
	<key>X</key>
	<string>x_.glif</string>
	<key>U</key>
	<string>u_.glif</string>
	<key>Y</key>
	<string>y_.glif</string>
	<key>Z</key>
	<string>z_.glif</string>
	<key>u1F422</key>
	<string>u1f_422.glif</string>
    </dict>
</plist>
